# 1. Data Inspection - BanVic Project

**Objective:** Perform an initial exploratory data analysis (EDA) on the raw CSV files provided for the BanVic challenge. This notebook aims to understand the structure, quality, and relationships within the data before the transformation phase.

In [17]:
import os
import pandas as pd
from dotenv import load_dotenv

# Load environment variables (like GOOGLE_APPLICATION_CREDENTIALS)
load_dotenv()

# --- Configuration ---
# Set the path to the directory containing the raw data
# Assumes the data is in a subfolder 'data/raw/' relative to the notebook's location
DATA_DIR = os.path.join('..', 'data')

# List to hold all found csv files
csv_files = [f for f in os.listdir(DATA_DIR) if f.endswith('.csv')]

print(f"Found {len(csv_files)} files in '{DATA_DIR}':")
for file in csv_files:
    print(f"- {file}")

# Setting pandas display options for better visualization
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 100)

Found 7 files in '..\data':
- agencies.csv
- bank_accounts.csv
- clients.csv
- credit_proposal.csv
- employee.csv
- employee_agency.csv
- transactions.csv

# 2. Automated Overview of All Files

Loop through each CSV file to get a high-level, consistent overview of its contents.

In [18]:
# Create a dictionary to hold all dataframes for later use
dataframes = {}

for file in csv_files:
    file_path = os.path.join(DATA_DIR, file)
    df_name = file.replace('.csv', '')
    
    print(f"--- INSPECTING: {file} ---")
    
    try:
        df = pd.read_csv(file_path)
        dataframes[df_name] = df
        
        print("\n[Shape]")
        print(df.shape)
        
        print("\n[Head]")
        print(df.head())
        
        print("\n[Info]")
        df.info()
        
        print("\n[Describe]")
        # include='all' provides stats for both numeric and categorical columns
        print(df.describe(include='all'))
        
    except Exception as e:
        print(f"Could not read or process file {file}. Error: {e}")
        
    print("\n" + "="*50 + "\n")

--- INSPECTING: agencies.csv ---

[Shape]
(10, 7)

[Head]
   cod_agencia              nome                                           endereco     cidade  \
0            7   Agência Digital  Av. Paulista, 1436 - Cerqueira César, São Paul...  São Paulo
1            1    Agência Matriz  Av. Paulista, 1436 - Cerqueira César, São Paul...  São Paulo
2            2   Agência Tatuapé  Praça Sílvio Romero, 158 - Tatuapé, São Paulo ...  São Paulo
3            3  Agência Campinas  Av. Francisco Glicério, 895 - Vila Lidia, Camp...   Campinas
4            4    Agência Osasco  Av. Antônio Carlos Costa, 1000 - Bela Vista, O...     Osasco

   uf data_abertura tipo_agencia
0  SP    2015-08-01      Digital
1  SP    2010-01-01       Física
2  SP    2010-06-14       Física
3  SP    2012-03-04       Física
4  SP    2013-11-06       Física

[Info]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cod_agencia    10 non-null     int64
 1   nome           10 non-null     object
 2   endereco       10 non-null     object
 3   cidade         10 non-null     object
 4   uf             10 non-null     object
 5   data_abertura  10 non-null     object
 6   tipo_agencia   10 non-null     object
dtypes: int64(1), object(6)
memory usage: 692.0+ bytes

[Describe]
        cod_agencia             nome                                           endereco  \
count      10.00000               10                                                 10
unique          NaN               10                                                  9
top             NaN  Agência Digital  Av. Paulista, 1436 - Cerqueira César, São Paul...
freq            NaN                1                                                  2
mean        5.50000              NaN                                                NaN
std         3.02765              NaN                                                NaN
min         1.00000              NaN                                                NaN
25%         3.25000              NaN                                                NaN
50%         5.50000              NaN                                                NaN
75%         7.75000              NaN                                                NaN
max        10.00000              NaN                                                NaN

           cidade   uf data_abertura tipo_agencia
count          10   10            10           10
unique          7    5            10            2
top     São Paulo   SP    2015-08-01       Física
freq            4    6             1            9
mean          NaN  NaN           NaN          NaN
std           NaN  NaN           NaN          NaN
min           NaN  NaN           NaN          NaN
25%           NaN  NaN           NaN          NaN
50%           NaN  NaN           NaN          NaN
75%           NaN  NaN           NaN          NaN
max           NaN  NaN           NaN          NaN

==================================================

--- INSPECTING: bank_accounts.csv ---

[Shape]
(999, 9)

[Head]
   num_conta  cod_cliente  cod_agencia  cod_colaborador tipo_conta            data_abertura  \
0         53           53            1                7         PF  2011-05-24 15:30:00 UTC
1        190          190            1                7         PF  2014-10-17 14:48:00 UTC
2        191          191            1                7         PF  2013-03-23 14:14:00 UTC
3        203          203            1                7         PF  2016-08-03 16:13:00 UTC
4        254          254            1                7         PF  2012-10-24 13:48:00 UTC

   saldo_total  saldo_disponivel   data_ultimo_lancamento
0    2984.7615           2814.67  2019-07-02 11:03:46 UTC
1    4262.4322           4191.86  2021-03-25 12:00:15 UTC
2    3266.5680           3080.71  2016-09-09 23:34:15 UTC
3   21241.5424          19461.56  2022-12-28 07:58:24 UTC
4   13335.6966          13197.54  2013-12-20 22:20:00 UTC

[Info]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   num_conta               999 non-null    int64
 1   cod_cliente             999 non-null    int64
 2   cod_agencia             999 non-null    int64
 3   cod_colaborador         999 non-null    int64
 4   tipo_conta              999 non-null    object
 5   data_abertura           999 non-null    object
 6   saldo_total             999 non-null    float64
 7   saldo_disponivel        999 non-null    float64
 8   data_ultimo_lancamento  999 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 70.4+ KB

[Describe]
         num_conta  cod_cliente  cod_agencia  cod_colaborador tipo_conta            data_abertura  \
count   999.000000   999.000000   999.000000       999.000000        999                      999
unique         NaN          NaN          NaN              NaN          1                      998
top            NaN          NaN          NaN              NaN         PF  2021-08-23 12:15:00 UTC
freq           NaN          NaN          NaN              NaN        999                        2
mean    500.000000   500.000000     5.211211        52.997998        NaN                      NaN
std     288.530761   288.530761     2.432338        27.558209        NaN                      NaN
min       1.000000     1.000000     1.000000         1.000000        NaN                      NaN
25%     250.500000   250.500000     3.000000        26.000000        NaN                      NaN
50%     500.000000   500.000000     7.000000        54.000000        NaN                      NaN
75%     749.500000   749.500000     7.000000        83.500000        NaN                      NaN
max     999.000000   999.000000    10.000000       100.000000        NaN                      NaN

          saldo_total  saldo_disponivel   data_ultimo_lancamento
count      999.000000        999.000000                      999
unique            NaN               NaN                      988
top               NaN               NaN  2022-12-29 23:59:59 UTC
freq              NaN               NaN                        4
mean     26543.407216      25731.185586                      NaN
std      41872.096136      40288.019468                      NaN
min          1.221000          0.600000                      NaN
25%        938.142000        918.485000                      NaN
50%      11668.146700      11325.960000                      NaN
75%      35410.108600      33926.210000                      NaN
max     419923.177800     411617.060000                      NaN

==================================================

--- INSPECTING: clients.csv ---

[Shape]
(998, 10)

[Head]
   cod_cliente primeiro_nome ultimo_nome                         email tipo_cliente  \
0           28       Sabrina        Dias  moreiraemanuelly@example.org           PF
1          674   Luiz Felipe        Dias     pedroferreira@example.org           PF
2          693         Renan        Dias            ogomes@example.net           PF
3          743         Clara        Dias     rafaelcorreia@example.org           PF
4          769         André        Dias          danilo33@example.org           PF

             data_inclusao         cpfcnpj data_nascimento  \
0  2017-04-03 16:11:00 UTC  357.081.496-39      2006-08-11
1  2021-02-10 13:27:00 UTC  085.196.374-93      1995-10-11
2  2020-01-21 13:12:00 UTC  783.416.059-10      1948-11-19
3  2019-05-06 11:39:00 UTC  589.237.610-95      1978-01-27
4  2017-01-07 14:53:00 UTC  459.608.721-02      1990-08-25

                                            endereco        cep
0  Praia de Duarte Vila Piratininga 81327-166 Fer...  95140-704
1  Avenida da Rosa, 654 João Paulo Ii 20295449 Nu...  76516-765
2  Jardim de Rodrigues Ipiranga 14161-477 Duarte ...   51779625
3  Colônia Thomas Silva, 9 Tupi B 15771-946 Ferna...   19615792
4     Rua Correia, 889 Diamante 59123250 Aragão / RS   01672838

[Info]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cod_cliente      998 non-null    int64
 1   primeiro_nome    998 non-null    object
 2   ultimo_nome      998 non-null    object
 3   email            998 non-null    object
 4   tipo_cliente     998 non-null    object
 5   data_inclusao    998 non-null    object
 6   cpfcnpj          998 non-null    object
 7   data_nascimento  998 non-null    object
 8   endereco         998 non-null    object
 9   cep              998 non-null    object
dtypes: int64(1), object(9)
memory usage: 78.1+ KB

[Describe]
        cod_cliente primeiro_nome ultimo_nome               email tipo_cliente  \
count    998.000000           998         998                 998          998
unique          NaN           202          70                 994            1
top             NaN       Heloísa     Cardoso  ogomes@example.net           PF
freq            NaN            13          26                   2          998
mean     499.971944           NaN         NaN                 NaN          NaN
std      288.674061           NaN         NaN                 NaN          NaN
min        1.000000           NaN         NaN                 NaN          NaN
25%      250.250000           NaN         NaN                 NaN          NaN
50%      499.500000           NaN         NaN                 NaN          NaN
75%      749.750000           NaN         NaN                 NaN          NaN
max      999.000000           NaN         NaN                 NaN          NaN

                  data_inclusao         cpfcnpj data_nascimento  \
count                       998             998             998
unique                      997             998             975
top     2021-08-23 12:15:00 UTC  357.081.496-39      1961-11-13
freq                          2               1               3
mean                        NaN             NaN             NaN
std                         NaN             NaN             NaN
min                         NaN             NaN             NaN
25%                         NaN             NaN             NaN
50%                         NaN             NaN             NaN
75%                         NaN             NaN             NaN
max                         NaN             NaN             NaN

                                                 endereco        cep
count                                                 998        998
unique                                                998        998
top     Praia de Duarte Vila Piratininga 81327-166 Fer...  95140-704
freq                                                    1          1
mean                                                  NaN        NaN
std                                                   NaN        NaN
min                                                   NaN        NaN
25%                                                   NaN        NaN
50%                                                   NaN        NaN
75%                                                   NaN        NaN
max                                                   NaN        NaN

==================================================

--- INSPECTING: credit_proposal.csv ---

[Shape]
(2000, 12)

[Head]
   cod_proposta  cod_cliente  cod_colaborador    data_entrada_proposta  taxa_juros_mensal  \
0           116          338                1  2014-05-30 18:43:12 UTC             0.0194
1           715           45                1  2021-06-17 13:09:32 UTC             0.0131
2           755          494                1  2021-08-10 04:24:02 UTC             0.0203
3           953          381                1  2011-02-23 07:57:58 UTC             0.0167
4          1046          176                1  2010-11-15 16:03:28 UTC             0.0211

   valor_proposta  valor_financiamento  valor_entrada  valor_prestacao  quantidade_parcelas  \
0    36199.950355             50032.03   13832.079645      1045.219825                   58
1    12897.538285             19848.55    6951.011715       232.124685                  100
2   122236.312551            187154.36   64918.047449      3673.518951                   56
3    47784.649757             59530.61   11745.960243       955.041560                  109
4   178393.038243            214294.19   35901.151757     10219.659415                   22

   carencia status_proposta
0         0         Enviada
1         1         Enviada
2         0         Enviada
3         3         Enviada
4         4         Enviada

[Info]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cod_proposta           2000 non-null   int64
 1   cod_cliente            2000 non-null   int64
 2   cod_colaborador        2000 non-null   int64
 3   data_entrada_proposta  2000 non-null   object
 4   taxa_juros_mensal      2000 non-null   float64
 5   valor_proposta         2000 non-null   float64
 6   valor_financiamento    2000 non-null   float64
 7   valor_entrada          2000 non-null   float64
 8   valor_prestacao        2000 non-null   float64
 9   quantidade_parcelas    2000 non-null   int64
 10  carencia               2000 non-null   int64
 11  status_proposta        2000 non-null   object
dtypes: float64(5), int64(5), object(2)
memory usage: 187.6+ KB

[Describe]
        cod_proposta  cod_cliente  cod_colaborador    data_entrada_proposta  taxa_juros_mensal  \
count    2000.000000  2000.000000      2000.000000                     2000        2000.000000
unique           NaN          NaN              NaN                     2000                NaN
top              NaN          NaN              NaN  2014-05-30 18:43:12 UTC                NaN
freq             NaN          NaN              NaN                        1                NaN
mean     1000.500000   505.638000        51.588000                      NaN           0.016682
std       577.494589   287.751477        28.600162                      NaN           0.004933
min         1.000000     2.000000         1.000000                      NaN           0.008000
25%       500.750000   252.000000        27.000000                      NaN           0.012400
50%      1000.500000   508.000000        52.000000                      NaN           0.016800
75%      1500.250000   756.000000        76.000000                      NaN           0.021000
max      2000.000000   999.000000       100.000000                      NaN           0.025000

        valor_proposta  valor_financiamento  valor_entrada  valor_prestacao  quantidade_parcelas  \
count      2000.000000          2000.000000    2000.000000      2000.000000          2000.000000
unique             NaN                  NaN            NaN              NaN                  NaN
top                NaN                  NaN            NaN              NaN                  NaN
freq               NaN                  NaN            NaN              NaN                  NaN
mean      83890.490070        124758.355855   40867.865785      4881.837965            61.229500
std       51178.425752         72738.017686   28030.837804     12884.892419            35.016681
min         944.006403          1605.630000     288.504238        19.164761             1.000000
25%       39398.933002         60587.707500   17486.410004      1195.505074            30.750000
50%       81968.179827        126780.690000   36972.764570      2328.468782            61.000000
75%      123508.226751        187196.995000   59148.283054      4019.692892            92.000000
max      206514.635559        249974.500000  120647.797017    190122.091859           120.000000

           carencia status_proposta
count   2000.000000            2000
unique          NaN               4
top             NaN         Enviada
freq            NaN             527
mean       3.044000             NaN
std        2.016953             NaN
min        0.000000             NaN
25%        1.000000             NaN
50%        3.000000             NaN
75%        5.000000             NaN
max        6.000000             NaN

==================================================

--- INSPECTING: employee.csv ---

[Shape]
(100, 8)

[Head]
   cod_colaborador  primeiro_nome ultimo_nome                           email             cpf  \
0               14          Paulo        Dias        melissalopes@example.net  847.210.695-02
1               19  Luiz Fernando        Dias              pcunha@example.net  820.415.963-33
2               32     Vitor Hugo        Dias       aragaonicolas@example.net  936.172.548-37
3               88   João Gabriel        Lima  luiz-otaviorezende@example.org  967.082.451-67
4               39  Maria Eduarda        Melo        joao-pedro72@example.com  857.496.210-49

  data_nascimento                                           endereco        cep
0      1974-04-24  Lagoa de Rodrigues, 62 Zilah Sposito 37328-273...   27275674
1      1994-07-10  Ladeira de Moreira, 82 Jardim Atlântico 27617-...   50013962
2      1986-12-18  Área Sophie Moreira Maria Virgínia 71941-111 S...  08955-215
3      1994-10-19  Trevo Murilo Ramos, 92 São Benedito 73615-597 ...  24224-305
4      1996-03-01  Parque de Moura, 65 Granja Werneck 67769059 da...   96896390

[Info]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cod_colaborador  100 non-null    int64
 1   primeiro_nome    100 non-null    object
 2   ultimo_nome      100 non-null    object
 3   email            100 non-null    object
 4   cpf              100 non-null    object
 5   data_nascimento  100 non-null    object
 6   endereco         100 non-null    object
 7   cep              100 non-null    object
dtypes: int64(1), object(7)
memory usage: 6.4+ KB

[Describe]
        cod_colaborador primeiro_nome ultimo_nome                     email             cpf  \
count        100.000000           100         100                       100             100
unique              NaN            79          51                       100             100
top                 NaN       Clarice       Lopes  melissalopes@example.net  847.210.695-02
freq                NaN             3           5                         1               1
mean          50.500000           NaN         NaN                       NaN             NaN
std           29.011492           NaN         NaN                       NaN             NaN
min            1.000000           NaN         NaN                       NaN             NaN
25%           25.750000           NaN         NaN                       NaN             NaN
50%           50.500000           NaN         NaN                       NaN             NaN
75%           75.250000           NaN         NaN                       NaN             NaN
max          100.000000           NaN         NaN                       NaN             NaN

       data_nascimento                                           endereco       cep
count              100                                                100       100
unique             100                                                100       100
top         1974-04-24  Lagoa de Rodrigues, 62 Zilah Sposito 37328-273...  27275674
freq                 1                                                  1         1
mean               NaN                                                NaN       NaN
std                NaN                                                NaN       NaN

# 3. Deep Dive into Key Tables

Now, we'll perform a more detailed analysis on the most relevant tables: `clients`, `transactions`, and `credit_proposal`.

In [10]:
# --- Clients Analysis ---
print("--- DEEP DIVE: clients ---")
df_clients = dataframes.get('clients')
if df_clients is not None:
    print("\n[Missing Value Percentage]")
    print((df_clients.isnull().sum() / len(df_clients) * 100).sort_values(ascending=False))
    
    print(f"\n[Duplicate Rows]: {df_clients.duplicated().sum()}")
    
    print("\n[Value Counts for 'cep']")
    print(df_clients['cep'].value_counts())

print("\n" + "="*50 + "\n")

# --- Transactions Analysis ---
print("--- DEEP DIVE: transactions ---")
df_transactions = dataframes.get('transactions')
if df_transactions is not None:
    # Convert data column to datetime to perform time-based analysis
    df_transactions['data_transacao'] = pd.to_datetime(df_transactions['data_transacao'], format='mixed', utc=True)
    
    print("\n[Missing Value Percentage]")
    print((df_transactions.isnull().sum() / len(df_transactions) * 100).sort_values(ascending=False))
    
    print(f"\n[Duplicate Rows]: {df_transactions.duplicated().sum()}")
    
    print(f"\n[Transaction Date Range]: {df_transactions['data_transacao'].min()} to {df_transactions['data_transacao'].max()}")
    
print("\n" + "="*50 + "\n")

# --- Credit Proposal Analysis ---
print("--- DEEP DIVE: credit_proposal ---")
df_credit_proposal = dataframes.get('credit_proposal')
if df_credit_proposal is not None:
    print("\n[Missing Value Percentage]")
    print((df_credit_proposal.isnull().sum() / len(df_credit_proposal) * 100).sort_values(ascending=False))

    print(f"\n[Duplicate Rows]: {df_credit_proposal.duplicated().sum()}")

    print("\n[Value Counts for 'status_proposta']")
    print(df_credit_proposal['status_proposta'].value_counts())

--- DEEP DIVE: clients ---

[Missing Value Percentage]
cod_cliente        0.0
primeiro_nome      0.0
ultimo_nome        0.0
email              0.0
tipo_cliente       0.0
data_inclusao      0.0
cpfcnpj            0.0
data_nascimento    0.0
endereco           0.0
cep                0.0
dtype: float64

[Duplicate Rows]: 0

[Value Counts for 'cep']
cep
95140-704    1
76516-765    1
51779625     1
19615792     1
01672838     1
            ..
08264521     1
55045-265    1
88159-361    1
36211-005    1
15386938     1
Name: count, Length: 998, dtype: int64

==================================================

--- DEEP DIVE: transactions ---

[Missing Value Percentage]
cod_transacao      0.0
num_conta          0.0
data_transacao     0.0
nome_transacao     0.0
valor_transacao    0.0
dtype: float64

[Duplicate Rows]: 0

[Transaction Date Range]: 2010-02-27 16:39:46+00:00 to 2023-01-15 15:57:23.974201+00:00

==================================================

--- DEEP DIVE: credit_proposal ---

[Missing Value Percentage]
cod_proposta             0.0
cod_cliente              0.0
cod_colaborador          0.0
data_entrada_proposta    0.0
taxa_juros_mensal        0.0
valor_proposta           0.0
valor_financiamento      0.0
valor_entrada            0.0
valor_prestacao          0.0
quantidade_parcelas      0.0
carencia                 0.0
status_proposta          0.0
dtype: float64

[Duplicate Rows]: 0

[Value Counts for 'status_proposta']
status_proposta
Enviada                 527
Aprovada                514
Validação documentos    491
Em análise              468
Name: count, dtype: int64

# 4. Key and Relationship Analysis

Here, we check the integrity of primary and foreign keys to understand how the tables connect and to find potential orphan records.

In [ ]:
# --- Primary Key Uniqueness Check ---
print("--- PRIMARY KEY UNIQUENESS ---")

# Check if 'cod_cliente' is unique in the clients table
is_client_id_unique = dataframes['clients']['cod_cliente'].is_unique
print(f"Is 'cod_cliente' in 'clients' unique? -> {is_client_id_unique}")

# Check if 'num_conta' is unique in the bank_accounts table
is_account_id_unique = dataframes['bank_accounts']['num_conta'].is_unique
print(f"Is 'num_conta' in 'bank_accounts' unique? -> {is_account_id_unique}")

# Check if 'cod_agencia' is unique in the agencies table
is_agency_id_unique = dataframes['agencies']['cod_agencia'].is_unique
print(f"Is 'cod_agencia' in 'agencies' unique? -> {is_agency_id_unique}")

# Check if 'cod_colaborador' is unique in the employee table
is_agency_id_unique = dataframes['employee']['cod_colaborador'].is_unique
print(f"Is 'cod_colaborador' in 'employee' unique? -> {is_agency_id_unique}")

# --- Referential Integrity Check ---
print("\n--- REFERENTIAL INTEGRITY ---")

# Check for orphan records in 'bank_accounts' (accounts with no client)
accounts_ids = set(dataframes['bank_accounts']['cod_cliente'])
clients_ids = set(dataframes['clients']['cod_cliente'])
orphan_accounts = accounts_ids - clients_ids
print(f"Found {len(orphan_accounts)} orphan accounts (cod_cliente in 'bank_accounts' but not in 'clients').")

# Check for orphan records in 'transactions' (transactions with no account)
transactions_account_ids = set(dataframes['transactions']['num_conta'])
accounts_ids_in_accounts_table = set(dataframes['bank_accounts']['num_conta'])
orphan_transactions = transactions_account_ids - accounts_ids_in_accounts_table
print(f"Found {len(orphan_transactions)} orphan transactions (num_conta in 'transactions' but not in 'bank_accounts').")

--- PRIMARY KEY UNIQUENESS ---
Is 'cod_cliente' in 'clients' unique? -> True
Is 'num_conta' in 'bank_accounts' unique? -> True
Is 'cod_agencia' in 'agencies' unique? -> True
Is 'cod_colaborador' in 'employee' unique? -> True

--- REFERENTIAL INTEGRITY ---
Found 1 orphan accounts (client_id in 'bank_accounts' but not in 'clients').
Found 0 orphan transactions (num_conta in 'transactions' but not in 'bank_accounts').

# 5. Summary of Findings & Next Steps

The initial data inspection phase is complete. The analysis reveals that the raw data is of a very high quality in terms of completeness, but requires specific cleaning and standardization steps before it can be used for reliable analysis.

## Key Findings

* **Excellent Completeness:**
    * There are **zero missing (null) values** across all 7 tables.
    * There are **zero fully duplicated rows** in the key business tables (`clients`, `transactions`, `credit_proposal`).

* **Valid Primary Keys:**
    * All identified primary keys (`cod_cliente`, `num_conta`, `cod_agencia`, `cod_colaborador`) were confirmed to be **100% unique**, making them reliable identifiers for their respective tables.

* **Full Traceability of Transactions:**
    * The integrity check confirmed there are **zero orphan transactions**. This is a crucial finding, as it means every one of the 71,999 transaction records is correctly linked to an existing bank account in the `bank_accounts` table. For a financial institution, this indicates a healthy data trail where every transaction can be traced to an account.

* **Identified Data Integrity Issue:**
    * One **"orphan" account record** was found. This means there is one account in `bank_accounts` whose `cod_cliente` does not exist in the `clients` table. This discovery also explains the initial discrepancy of having 999 accounts but only 998 clients.

### Handling the Orphan Account

For the purposes of this academic exercise, this single orphan account will be filtered out during the transformation phase to ensure the integrity of our final data model.

However, it is critical to state that **in a real-world business scenario, simply deleting this record would be incorrect and dangerous**. An untraceable account, even just one, is a significant red flag for data governance, compliance, and financial auditing. The correct procedure would be to:
1.  **Flag the record** instead of deleting it.
2.  **Generate a report** for the data governance or source system team.
3.  **Initiate an investigation** to understand why the client record is missing and correct the data at its source.

## Action Plan for Transformation Phase

Based on the findings, the following tasks must be performed to create a clean and reliable Data Warehouse:

1.  **Data Type Conversion:** Convert all date and timestamp columns (currently `object` type) to the proper `datetime` type.
2.  **Text Standardization:** Standardize the `cep` column in the `clients` table to a single format (e.g., only numbers, without hyphens).
3.  **Text Parsing:** Parse the `endereco` column in the `clients` table into multiple structured columns (e.g., street, city, state).
4.  **Data Filtering:** Filter out the single orphan account record from the `bank_accounts` table to ensure referential integrity in the final model.